<!DOCTYPE html>
<html>
<head>
    <title>infoguru</title>

    <link rel="stylesheet" href="/public/Style/guru/infoguru.css">
    <link rel="stylesheet" href="/public/font-awesome-4.7.0/css/font-awesome.min.css">
    
</head>
<body>
   <div class="header">
           <div class="peteemte">
               <a id="home" href="/menuguru">Sekolah Dasar Smarty</a>
           </div>

           <div class="tooltip">
               <a href="/" class="fa fa-power-off fa-3x logout"></a>
               <span class="tooltiptext">Logout</span>
           </div>

            <div class="head_link">
                <a id="link1" href="/periode">Daftar Siswa</a>
                <a id="link1" href="/periode">Informasi Guru</a>
            </div>
            
        </div>
        <div class="background_menu">
            
            </div>
        </div>
        <div class="kapasitas">
        <h1>Informasi Guru</h1><br>  
        </div>

        <form>
        <table>
            <tr>
                <th>NIP</th>
                <th>Nama Guru</th>
                <th>Mata Pelajaran</th>
                <th>Mengajar Kelas</th>
            </tr>
            <%= for (const row of resinfo) {%>
            <tr>
                <td><%= row.NIP %></td>
                <td><%= row.nama_guru %></td>
                <td>Pendidikan Kewernegaraan</td>
                <td><%= row.kelas %></td>
            </tr>
            <tr>
                <td><%= row.NIP %></td>
                <td><%= row.nama_guru %></td>
                <td>Pendidikan Kewernegaraan</td>
                <td><%= row.kelas %></td>
            </tr>
            <tr>
                <td><%= row.NIP %></td>
                <td><%= row.nama_guru %></td>
                <td>Pendidikan Kewernegaraan</td>
                <td><%= row.kelas %></td>
            </tr>
            <tr>
                <td><%= row.NIP %></td>
                <td><%= row.nama_guru %></td>
                <td>Pendidikan Kewernegaraan</td>
                <td><%= row.kelas %></td>
            </tr>
            <tr>
                <td><%= row.NIP %></td>
                <td><%= row.nama_guru %></td>
                <td>Pendidikan Kewernegaraan</td>
                <td><%= row.kelas %></td>
            </tr>
            <tr>
                <td><%= row.NIP %></td>
                <td><%= row.nama_guru %></td>
                <td>Pendidikan Kewernegaraan</td>
                <td><%= row.kelas %></td>
            </tr>
            <tr>
                <td><%= row.NIP %></td>
                <td><%= row.nama_guru %></td>
                <td>Pendidikan Kewernegaraan</td>
                <td><%= row.kelas %></td>
            </tr>
            <tr>
                <td><%= row.NIP %></td>
                <td><%= row.nama_guru %></td>
                <td>Pendidikan Kewernegaraan</td>
                <td><%= row.kelas %></td>
            </tr>
            <tr>
                <td><%= row.NIP %></td>
                <td><%= row.nama_guru %></td>
                <td>Pendidikan Kewernegaraan</td>
                <td><%= row.kelas %></td>
            </tr>
           <%= } %> 
        </table>
    </form>
</body>
</html>