<!DOCTYPE html>
<html>
<head>
    <title>cekstatusptmt</title>
    <link rel="stylesheet" href="/public/Style/admin/daftarhadir.css">
    <link rel="stylesheet" href="/public/font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="/public/JS/admin/daftarH.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="csrf-token" content="content">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="{{ csrf_token() }}">
</head>
<body>
    <div class="header">
        <div class="peteemte">
            <a id="home" href="/menu">PeTeEmTe SD Smarty</a>
        </div>

        <div class="tooltip">
            <a href="/" class="fa fa-power-off fa-3x logout"></a>
            <span class="tooltiptext"></span>
        </div>

        <div class="head_link">
            <a id="link1" href="/periode">Periode PTMT</a>
            <a id="link2" href="/dataMurid">Data Murid</a>
            <a id="link3" href="/dataGuru">Submit Data</a>
            <a id="link4" href="/daftarHadir">Daftar Kehadiran</a>
        </div>       
    </div>

        <div class="background_menu">
            
            </div>
        </div>
        <div class="judul">
            <h1>Daftar Kehadiran</h1>
        </div>
            <form action="/get-states-by-country" method="post">
            <div class="NIS">
            <table>
                <br>
                <label for="country">Nomor Induk Siswa : </label>
                    <select class="form-control" id="country-dropdown">
                        <option value="">Nomor Induk Siswa</option>
                        <% if(data.length){
                            for(var i = 0; i< data.length; i++) {%> 
                            <option value="<%= data[i].id%>">
                                <%= data[i].NIS%>
                            </option>
                            <% } } %>
                    </select>
                    <br>
                    <br>
                    <label for="country">Perioda : </label>
                    <select class="form-control" id="country-dropdown">
                        <option value="" id="dropperiod">Perioda</option>
                        <% if(data.length){
                            for(var i = 0; i< data.length; i++) {%> 
                            <option value="<%= data[i].id%>">
                                <%= data[i].nama_perioda%>
                            </option>
                            <% } } %>
                    </select>
             </table>
             </div>   
            </form>
            <div class="generate">
                <button type="button" id="btn_generate" onclick="myFunction()">ok</button>
            </div> 
        </table>
        </div>
        <div id="hidden-panel">
            <form action="/ptmt" method="post">
            <div class="icon">
                
                <i class="fa fa-user-circle fa-5x" aria-hidden="true"></i>
            </div>
            
            <div class="namasiswa">
                <% for(const row of daftar) {%>
                <h3>Nama Siswa : <%= row.nama_siswa%></h3>
                
                Status PTMT : <%= row.status_PTMT %><br><br>

                Daftar Kehadiran:
                <% } %>
            </div>
        
        <div class="vl"></div>
        <div class="tabell">
        <table>
                    <tr>
                        <th>Hari</th>
                        <th>Tanggal</th>
                        <th>Status Kehadiran</th>
                        <th>Kelas</th>
                    </tr>
                    <tr>
                        <td>Senin</td>
                        <td>18 Agustus 2022</td>
                        <td>Ya</td>
                        <td>A</td>
                    </tr>
                    <tr>
                        <td>Rabu</td>
                        <td>20 Agustus 2022</td>
                        <td>Ya</td>
                        <td>A</td>
                    </tr>
                    <tr>
                        <td>Jumat</td>
                        <td>22 Agustus 2022</td>
                        <td>Ya</td>
                        <td>A</td>
                    </tr>
                </table>
            </div>
            </form>
        </div>
            
</body>
</html>